<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Relationship</key>
	<array/>
	<key>Tags</key>
	<array/>
	<key>Topics</key>
	<array>
		<dict>
			<key>Absolute Frame</key>
			<array>
				<array>
					<real>198.5</real>
					<real>279</real>
				</array>
				<array>
					<real>214.5</real>
					<real>77</real>
				</array>
			</array>
			<key>Children</key>
			<array>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>27</real>
						</array>
						<array>
							<real>135</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>6978511D-636B-4CE7-BDBB-80E49B0CF072</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#73BEF8FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>324AAC2E-9BD6-4D01-B72D-AB416555AF3B</string>
					<key>Label</key>
					<string>Boolean</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>27</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>-252</real>
						</array>
						<array>
							<real>135</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#73BEF8FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#73BEF8FF</string>
						<key>Max Layout Width</key>
						<real>135</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>99</real>
						</array>
						<array>
							<real>132.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>9A5FF98D-4BF6-45E1-9972-6CE236CDB93F</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#81D552FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>2C6C91BE-66A1-4D3C-89B2-8BC412509EDE</string>
					<key>Label</key>
					<string>Number</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>99</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>-180</real>
						</array>
						<array>
							<real>132.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#81D552FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#81D552FF</string>
						<key>Max Layout Width</key>
						<real>132.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>171</real>
						</array>
						<array>
							<real>111.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>9D5F8611-0806-4B33-A7E3-4A5B16107E56</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#EEBC40FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>4FD34717-3928-4237-B95D-F7620F840C36</string>
					<key>Label</key>
					<string>String</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>171</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>-108</real>
						</array>
						<array>
							<real>111.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#EEBC40FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#EEBC40FF</string>
						<key>Max Layout Width</key>
						<real>111.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>243</real>
						</array>
						<array>
							<real>107</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>08C4FC53-E3BA-417B-8F64-9F805AB25260</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#DD68A5FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>C22CE54D-7683-49BF-A6C2-F421E867ADE5</string>
					<key>Label</key>
					<string>Array</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>243</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>-36</real>
						</array>
						<array>
							<real>107</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#DD68A5FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#DD68A5FF</string>
						<key>Max Layout Width</key>
						<real>107</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>315</real>
						</array>
						<array>
							<real>138.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>D4887D80-FC1C-4219-8961-461C0EEAE280</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#3174B4FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>1B141532-D43D-4F02-815B-37320A9183E6</string>
					<key>Label</key>
					<string>Function</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>315</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>36</real>
						</array>
						<array>
							<real>138.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#3174B4FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#3174B4FF</string>
						<key>Max Layout Width</key>
						<real>138.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>387</real>
						</array>
						<array>
							<real>118</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>6092234A-0822-4FF5-95A9-9C581122AF91</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#4AA69CFF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>994AF6DD-18B3-49AE-8C4A-26A744BCF255</string>
					<key>Label</key>
					<string>Object</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>387</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>108</real>
						</array>
						<array>
							<real>118</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#4AA69CFF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#4AA69CFF</string>
						<key>Max Layout Width</key>
						<real>118</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>459</real>
						</array>
						<array>
							<real>127.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>171E8399-D6CE-4F99-9533-34D350A6A468</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#EC6D56FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>04C7D5BF-C666-4C4C-8256-9EC1A7E787AA</string>
					<key>Label</key>
					<string>Symbol</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>459</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>180</real>
						</array>
						<array>
							<real>127.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#EC6D56FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#EC6D56FF</string>
						<key>Max Layout Width</key>
						<real>127.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>531</real>
						</array>
						<array>
							<real>151</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>4A79E4A2-A59B-4327-A736-50CE26A380AF</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#73BEF8FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>096181FC-4969-46F7-8155-3BACF90405A6</string>
					<key>Label</key>
					<string>undefined</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>531</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>252</real>
						</array>
						<array>
							<real>151</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#73BEF8FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#73BEF8FF</string>
						<key>Max Layout Width</key>
						<real>151</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>485</real>
							<real>603</real>
						</array>
						<array>
							<real>94</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>106A093A-9A7C-4DCC-B730-25B029C31066</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#81D552FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>4786C451-7416-49DB-9BD6-5C218DC5EE46</string>
					<key>Label</key>
					<string>null</string>
					<key>Parent Identifier</key>
					<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
					<key>Position</key>
					<array>
						<real>485</real>
						<real>603</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>324</real>
						</array>
						<array>
							<real>94</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#81D552FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#81D552FF</string>
						<key>Max Layout Width</key>
						<real>94</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
			</array>
			<key>Identifier</key>
			<string>FFDDC14B-1FC2-415A-96DE-825A2E50726A</string>
			<key>Label</key>
			<string>ES6 数据类型</string>
			<key>Position</key>
			<array>
				<real>198.5</real>
				<real>279</real>
			</array>
			<key>Relative Frame</key>
			<array>
				<array>
					<real>198.5</real>
					<real>279</real>
				</array>
				<array>
					<real>214.5</real>
					<real>77</real>
				</array>
			</array>
			<key>Style</key>
			<dict>
				<key>Background Color</key>
				<string>#474453FF</string>
				<key>Border Color</key>
				<string>#474453FF</string>
				<key>Border Type</key>
				<string>solid</string>
				<key>Border Width</key>
				<real>5</real>
				<key>Content Padding</key>
				<real>14</real>
				<key>Font Name</key>
				<string>Helvetica</string>
				<key>Font Size</key>
				<real>26</real>
				<key>Horizontal Spacing</key>
				<real>40</real>
				<key>Image Tint Color</key>
				<string>#FAF9FFFF</string>
				<key>Max Layout Width</key>
				<real>214.5</real>
				<key>Mirror Children</key>
				<true/>
				<key>Shape Type</key>
				<string>rounded</string>
				<key>Text Alignment</key>
				<string>center</string>
				<key>Text Color</key>
				<string>#FAF9FFFF</string>
				<key>Text Strikethrough</key>
				<false/>
				<key>Text Underline</key>
				<false/>
				<key>Vertical Spacing</key>
				<real>0.0</real>
			</dict>
			<key>Tags</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
