<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Relationship</key>
	<array/>
	<key>Tags</key>
	<array/>
	<key>Topics</key>
	<array>
		<dict>
			<key>Absolute Frame</key>
			<array>
				<array>
					<real>416.5</real>
					<real>271.5</real>
				</array>
				<array>
					<real>288.5</real>
					<real>77</real>
				</array>
			</array>
			<key>Children</key>
			<array>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>19.5</real>
						</array>
						<array>
							<real>135</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>6978511D-636B-4CE7-BDBB-80E49B0CF072</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#73BEF8FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>B679A209-33B1-460D-BA29-B99F69EE0182</string>
					<key>Label</key>
					<string>Boolean</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>19.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>-252</real>
						</array>
						<array>
							<real>135</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#73BEF8FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#73BEF8FF</string>
						<key>Max Layout Width</key>
						<real>135</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>91.5</real>
						</array>
						<array>
							<real>132.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>9A5FF98D-4BF6-45E1-9972-6CE236CDB93F</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#81D552FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>213B0785-7CA8-4CCD-96BB-844A5AB50126</string>
					<key>Label</key>
					<string>Number</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>91.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>-180</real>
						</array>
						<array>
							<real>132.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#81D552FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#81D552FF</string>
						<key>Max Layout Width</key>
						<real>132.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>232</real>
							<real>125.5</real>
						</array>
						<array>
							<real>98</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>6D1A3EDD-AFCF-43D5-BE94-299CCFD8F66A</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#73BEF8FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>66C957A5-835E-4F5F-946C-1F134AE5765E</string>
					<key>Label</key>
					<string>枚举</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>232</real>
						<real>125.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>-86.5</real>
							<real>-146</real>
						</array>
						<array>
							<real>98</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#73BEF8FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#73BEF8FF</string>
						<key>Max Layout Width</key>
						<real>98</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>163.5</real>
						</array>
						<array>
							<real>111.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>9D5F8611-0806-4B33-A7E3-4A5B16107E56</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#EEBC40FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>EC2F2749-EEBE-4AB7-B0A6-57DF17B2B326</string>
					<key>Label</key>
					<string>String</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>163.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>-108</real>
						</array>
						<array>
							<real>111.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#EEBC40FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#EEBC40FF</string>
						<key>Max Layout Width</key>
						<real>111.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>220.5</real>
							<real>190.5</real>
						</array>
						<array>
							<real>109.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>BDB8C2B7-EE10-4430-BE98-4E426693D739</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#4AA69CFF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>8642BE13-A54D-4FD0-A873-A5F3BA90ED1B</string>
					<key>Label</key>
					<string>never</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>220.5</real>
						<real>190.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>-86.5</real>
							<real>-81</real>
						</array>
						<array>
							<real>109.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#4AA69CFF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#4AA69CFF</string>
						<key>Max Layout Width</key>
						<real>109.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>235.5</real>
						</array>
						<array>
							<real>107</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>08C4FC53-E3BA-417B-8F64-9F805AB25260</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#DD68A5FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>457194F5-C5CA-4A04-A950-738FB7E648B0</string>
					<key>Label</key>
					<string>Array</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>235.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>-36</real>
						</array>
						<array>
							<real>107</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#DD68A5FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#DD68A5FF</string>
						<key>Max Layout Width</key>
						<real>107</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>235.5</real>
							<real>258</real>
						</array>
						<array>
							<real>94.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>E376A0EB-BEF5-4802-8CDD-7FD9D0417C43</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#EEBC40FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>F0EB136E-0084-40B4-81F8-EB9C84E41DE7</string>
					<key>Label</key>
					<string>void</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>235.5</real>
						<real>258</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>-86.5</real>
							<real>-13.5</real>
						</array>
						<array>
							<real>94.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#EEBC40FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#EEBC40FF</string>
						<key>Max Layout Width</key>
						<real>94.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>307.5</real>
						</array>
						<array>
							<real>138.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>D4887D80-FC1C-4219-8961-461C0EEAE280</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#3174B4FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>92A51788-C1D6-4ED6-BB2E-9DA44F7BA97C</string>
					<key>Label</key>
					<string>Function</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>307.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>36</real>
						</array>
						<array>
							<real>138.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#3174B4FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#3174B4FF</string>
						<key>Max Layout Width</key>
						<real>138.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>188</real>
							<real>331.5</real>
						</array>
						<array>
							<real>142</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>3809FABB-792E-4578-B639-B3B3CDDF884D</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#81D552FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>DE6B74B4-4FC1-4619-A403-37245DB36CDD</string>
					<key>Label</key>
					<string>高级类型</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>188</real>
						<real>331.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>-86.5</real>
							<real>60</real>
						</array>
						<array>
							<real>142</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#81D552FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#81D552FF</string>
						<key>Max Layout Width</key>
						<real>142</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>379.5</real>
						</array>
						<array>
							<real>118</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>6092234A-0822-4FF5-95A9-9C581122AF91</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#4AA69CFF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>A373C786-3812-48E4-9D99-A92DF5CF5320</string>
					<key>Label</key>
					<string>Object</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>379.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>108</real>
						</array>
						<array>
							<real>118</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#4AA69CFF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#4AA69CFF</string>
						<key>Max Layout Width</key>
						<real>118</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>232</real>
							<real>398.5</real>
						</array>
						<array>
							<real>98</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>DC86D2F9-EF4E-45A8-A5DE-F2AED102AFA9</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#EC6D56FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>09DE9AB8-EB29-497A-B2FD-105EC6ECCF65</string>
					<key>Label</key>
					<string>元组</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>232</real>
						<real>398.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>-86.5</real>
							<real>127</real>
						</array>
						<array>
							<real>98</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#EC6D56FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#EC6D56FF</string>
						<key>Max Layout Width</key>
						<real>98</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>451.5</real>
						</array>
						<array>
							<real>127.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>171E8399-D6CE-4F99-9533-34D350A6A468</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#EC6D56FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>5322FD0A-7EC3-4FF7-BA4B-325C3F379B73</string>
					<key>Label</key>
					<string>Symbol</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>451.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>180</real>
						</array>
						<array>
							<real>127.5</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#EC6D56FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#EC6D56FF</string>
						<key>Max Layout Width</key>
						<real>127.5</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>236</real>
							<real>488</real>
						</array>
						<array>
							<real>94</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>9E7AEFC3-9BC7-457F-8D12-95FD14A676B8</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#3174B4FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>3E7D0F99-57FC-46B5-84DD-B8EFD0660ED3</string>
					<key>Label</key>
					<string>any</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>236</real>
						<real>488</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>-86.5</real>
							<real>216.5</real>
						</array>
						<array>
							<real>94</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#3174B4FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#3174B4FF</string>
						<key>Max Layout Width</key>
						<real>94</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>523.5</real>
						</array>
						<array>
							<real>151</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>4A79E4A2-A59B-4327-A736-50CE26A380AF</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#73BEF8FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>BF4F7781-F920-4C89-922F-B016BE608A2C</string>
					<key>Label</key>
					<string>undefined</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>523.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>252</real>
						</array>
						<array>
							<real>151</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#73BEF8FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#73BEF8FF</string>
						<key>Max Layout Width</key>
						<real>151</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
				<dict>
					<key>Absolute Frame</key>
					<array>
						<array>
							<real>777</real>
							<real>595.5</real>
						</array>
						<array>
							<real>94</real>
							<real>72</real>
						</array>
					</array>
					<key>Branch</key>
					<dict>
						<key>Identifier</key>
						<string>106A093A-9A7C-4DCC-B730-25B029C31066</string>
						<key>Style</key>
						<dict>
							<key>Auto Line Width</key>
							<true/>
							<key>Line Color</key>
							<string>#81D552FF</string>
							<key>Line Type</key>
							<string>solid</string>
							<key>Line Width</key>
							<real>5</real>
							<key>Type</key>
							<string>rounded</string>
						</dict>
					</dict>
					<key>Children</key>
					<array/>
					<key>Identifier</key>
					<string>A57A8B36-72C0-4A46-B1E2-34946EC6EB6B</string>
					<key>Label</key>
					<string>null</string>
					<key>Parent Identifier</key>
					<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
					<key>Position</key>
					<array>
						<real>777</real>
						<real>595.5</real>
					</array>
					<key>Relative Frame</key>
					<array>
						<array>
							<real>72</real>
							<real>324</real>
						</array>
						<array>
							<real>94</real>
							<real>72</real>
						</array>
					</array>
					<key>Style</key>
					<dict>
						<key>Background Color</key>
						<string>#FAF9FFFF</string>
						<key>Border Color</key>
						<string>#81D552FF</string>
						<key>Border Type</key>
						<string>solid</string>
						<key>Border Width</key>
						<real>5</real>
						<key>Content Padding</key>
						<real>14</real>
						<key>Font Name</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<real>22</real>
						<key>Horizontal Spacing</key>
						<real>30</real>
						<key>Image Tint Color</key>
						<string>#81D552FF</string>
						<key>Max Layout Width</key>
						<real>94</real>
						<key>Mirror Children</key>
						<true/>
						<key>Shape Type</key>
						<string>line</string>
						<key>Text Alignment</key>
						<string>left</string>
						<key>Text Color</key>
						<string>#33323DFF</string>
						<key>Text Strikethrough</key>
						<false/>
						<key>Text Underline</key>
						<false/>
						<key>Vertical Spacing</key>
						<real>0.0</real>
					</dict>
					<key>Tags</key>
					<array/>
				</dict>
			</array>
			<key>Identifier</key>
			<string>2023AA2F-9BA9-42D4-9B1A-48B8E1D5A252</string>
			<key>Label</key>
			<string>TypeScript 数据类型</string>
			<key>Position</key>
			<array>
				<real>416.5</real>
				<real>271.5</real>
			</array>
			<key>Relative Frame</key>
			<array>
				<array>
					<real>416.5</real>
					<real>271.5</real>
				</array>
				<array>
					<real>288.5</real>
					<real>77</real>
				</array>
			</array>
			<key>Style</key>
			<dict>
				<key>Background Color</key>
				<string>#474453FF</string>
				<key>Border Color</key>
				<string>#474453FF</string>
				<key>Border Type</key>
				<string>solid</string>
				<key>Border Width</key>
				<real>5</real>
				<key>Content Padding</key>
				<real>14</real>
				<key>Font Name</key>
				<string>Helvetica</string>
				<key>Font Size</key>
				<real>26</real>
				<key>Horizontal Spacing</key>
				<real>40</real>
				<key>Image Tint Color</key>
				<string>#FAF9FFFF</string>
				<key>Max Layout Width</key>
				<real>288.5</real>
				<key>Mirror Children</key>
				<true/>
				<key>Shape Type</key>
				<string>rounded</string>
				<key>Text Alignment</key>
				<string>center</string>
				<key>Text Color</key>
				<string>#FAF9FFFF</string>
				<key>Text Strikethrough</key>
				<false/>
				<key>Text Underline</key>
				<false/>
				<key>Vertical Spacing</key>
				<real>0.0</real>
			</dict>
			<key>Tags</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
